<html>
<head>
    <title>Pictures</title>

</head>
<style>
    .img-fluid {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<script src="/static/js/jquery.js"></script>

<script>
    {% autoescape off %}
    let allPictures = {{ allPics }};
    {% endautoescape %}
</script>

<body style="margin: 0;">
<button type="button" onclick="openFullscreen();">full screen</button>

<div id="picframe" style="text-align:center; width: 100%; height:100%; background-color: #000000"></div>

<script>
    let initTimout = 5;
    let timeout = initTimout;
    let imgPos = 0;
    let nextImgPos = 1;

    function nextPos() {
        imgPos++;
        if (imgPos >= allPictures.length) {
            imgPos = 0;
        }
        return imgPos;
    }

    function nextPosLookup() {
        let nextPos = imgPos + 1;
        if (nextPos >= allPictures.length) {
            return 0;
        }
        return nextPos;
    }

    function prevPos() {
        imgPos--;
        if (imgPos < 0) {
            imgPos = allPictures.length - 1;
        }
        return imgPos;
    }

    function prepPic(pos) {
        let p = allPictures[pos];
        let image = $("<img />");
        let imgSrc = '/loadpic?picId=' + p;
        image.addClass('img-fluid');
        image.attr("src", imgSrc);
        return image
    }

    function putPic(divId, img) {
        let pf = $(divId);
        pf.empty();
        pf.append(img);
    }

    function randomSlideShow() {
        setTimeout(randomSlideShow, 1000);
        if (timeout > 0) {
            timeout--;
            return
        }

        nextPos();
        procImage();

    }

    function procImage() {
        timeout = initTimout;
        if (nextImgPos === imgPos) {
            putPic('#picframe', nextImg);
        } else {
            putPic('#picframe', prepPic(imgPos));
        }
        nextImgPos = nextPosLookup();
        nextImg = prepPic(nextImgPos);
    }

    function openFullscreen() {
        let elem = document.getElementById("picframe");
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) { /* Firefox */
            elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE/Edge */
            elem.msRequestFullscreen();
        }
    }

    let nextImg = prepPic(nextImgPos);

    putPic('#picframe', prepPic(0));
    randomSlideShow();
    document.onkeydown = checkKey;

    function checkKey(e) {
        e = e || window.event;
        if (e.keyCode == '38') {
            // up arrow
            // right arrow
            timeout = initTimout;
            nextPos();
            procImage();
        } else if (e.keyCode == '40') {
            // down arrow
            timeout = initTimout;
            prevPos();
            procImage();
        } else if (e.keyCode == '37') {
            // left arrow
            timeout = initTimout;
            prevPos();
            procImage();
        } else if (e.keyCode == '39') {
            // right arrow
            timeout = initTimout;
            nextPos();
            procImage();
        }
    }

</script>

</body>
</html>